netmiko==4.3.0
napalm==4.1.0
nornir==3.4.1
nornir-netmiko>=1.0.0
nornir-napalm==0.4.0
nornir-utils==0.2.0
paramiko==3.4.0
pexpect==4.9.0
jinja2==3.1.2
pyyaml==6.0.1
scapy==2.5.0
pysnmp==4.4.12
requests==2.31.0
ncclient==0.6.15
netconf-client==3.1.1
pynetbox==7.3.3
ntc-templates==4.1.0
ciscoconfparse==1.9.41
netaddr==0.10.1
ipaddress==1.0.23
speechrecognition==3.10.0
pyttsx3==2.90
pyaudio==0.2.11
playsound==1.3.0
pandas==2.1.4
click==8.1.7
rich==13.7.0
colorama==0.4.6
python-dotenv==1.0.0
pytest==7.4.3
black==23.12.0
flake8==6.1.0
